.addjob-w{
    .ant-select-selector{
        border-radius: 0;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        height: 40px !important;
    }

    .ant-select-selection-item{
        font-size: medium !important;
    }
}