.addmcq-w{
    .ant-checkbox-inner{
        display: none;
       } 
    .checkCircle{
        color: rgba(25,103,210,255) ;
        margin: 0;
    }
    .circle{
        color: rgba(0,0,0,.4);
        margin: 0;
    }
   
}