.resume-card-w:hover{
   
    &:hover{
        scale: 1.02;
        border-left: 5px solid rgba(30,136,229,1);
    }

    .reject-w{
       
        
        &:hover{
            background-color:rgba(102, 112, 133, 0.65);
            color: #667085;
        }
        
    }

    .approve-w{

        &:hover{
            background-color:rgba(102, 112, 133, 0.65);
            color: #667085;
        }
        
    }
    
}

