.change-main-w{
    padding: 25px 30px 25px;
    background-color: rgb(245,247,252);
    width: 100%;
    margin: 0;
    height: 90vh;
    .ready{
        margin-bottom: 20px;
    }
    .form-con-w{
        display: flex;
        flex-direction: column;
        background-color: $light;
        padding-left: 20px;
        border-radius: 20px;
        h3{
            margin-bottom: 15px;
        }
        form{
            width: 50%;
            label{
                display: block; 
            }
            input{
                padding: 15px 10px;
                margin: 20px 0;
                width: 100%;
                font-size: larger;
            }
            button{
                padding: 15px 30px;
            }
        }
    } 
}
