.company-dashboard-n {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(30, 136, 2229, .2);
    background-color: #ffffff;
  
    .ant-divider-horizontal {
      margin: 12px 0;
    }
  }