.D_complaints_content{
    padding: 2%;}

.D_complaints_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }
.D_complaints_table-container {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .ant-btn {
        border-radius: 4px;
        
        
    
        &.ant-btn-primary {
          background-color: #1890ff; // Primary button color
          border-color: #1890ff;
          text-align: center;
          width: 120px;
        }
    
        &.ant-btn-danger {
          background-color: #ff4d4f; // Danger button color
          border-color: #ff4d4f;
          text-align: center;
          width: 120px;
        }
    }
    
.D_complaints_table-cell {
    background-color: lightblue;
    padding: 8px 16px;
    border-right: 1px solid rgb(22, 21, 21);
    }

.D_complaints_data-table {
    margin-top:20px;
 }
        

  }
  