.interview-scheduling-n {
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    // .interview-form {
    //     display: grid;
    //     grid-template-columns: repeat(1, 1fr);
    //     grid-gap: 20px;
    //     max-width: 600px;
    //     margin: 0 auto;
    //   }
      
      .interview-form label {
        font-size: 16px;
        font-weight: 600;
      }
      
      .interview-form .ant-picker {
        width: 50%;
      }
      
      .interview-form .ant-time-picker {
        width: 50%;
      }
      
      .interview-form .ant-form-item {
        margin-bottom: 20px;
      }
      
      .interview-form .ant-form-item-label {
        padding: 0;
      }
      
      .interview-form .ant-form-item-control {
        line-height: 32px;
      }
      
      .interview-form .ant-form-item-control-input-content {
        display: flex;
      }
      
      .interview-form .ant-btn-primary {
        background-color: #1890ff;
        border-color: #1890ff;
      }
      
      .interview-form .ant-btn-primary:hover {
        background-color: #003366;
        border-color: #003366;
      }
      
      .interview-table {
        width: 80%;
        margin: 30px auto;
      }
      
      .interview-table .ant-table-content {
        overflow-x: auto;
      }
      
      .interview-table th {
        background-color: #f0f2f5;
        font-weight: bold;
        color: #1890ff;
      }
      
      .interview-table td {
        color: #555555;
      }
      
      .interview-table .ant-table-tbody > tr:hover > td {
        background-color: #f0f2f5;
      }
      
      .interview-table .ant-pagination {
        margin: 20px 0;
        text-align: right;
      }
      
      .interview-table .ant-pagination-item-active {
        border-color: #1890ff;
      }
      
      .interview-table .ant-pagination-item-active a {
        color: #1890ff;
      }
      
      .interview-table .ant-pagination-item a:hover {
        border-color: #1890ff;
      }
  } 