.l-ContactUs-Container{
    // background-color: brown;
    // width: 100%;
    // height: 130vh;
    // overflow: hidden;
    padding-inline: 10rem;
 
}

.l-ContactUs-up{
    // background-color: whitesmoke;
    // height: 15%;
    margin-block: 1rem;
    text-align: center;
    padding: 1rem;
    }

.l-ContactUs-up h1{
    font-size: 3rem;
    color: blue;
}



.l-ContactUs-down{
//   background-color: whitesmoke;
    // height: 65%;
    text-align: justify;
    padding-block: 1rem;

    
   }

//    .l-ContactUs-down-1{
//     text-align: left;
//     margin-inline: 3rem;
//     margin: 1rem;
   
   

//    }

   .l-ContactUs-down-2{
    display: flex;
    // background-color: palevioletred;
    margin: 1rem;
    height: 5rem;
}

   

   .l-ContactUs-down-2-left{
    width: 50%;
    // height: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    // background-color:yellowgreen;
    padding: 0.5rem;
}

.l-ContactUs-down-2-left-text{
        width: 92.5%;
    // height: 2rem;
    background-color: white;
    border-color: blue;
    border-style: solid;
}
   

   .l-ContactUs-down-2-right{
    width: 50%;
    border-radius: 1rem;
    margin: 1rem;
    // background-color:yellowgreen;
    padding: 0.5rem;
}

.l-ContactUs-down-2-right-text{
     width: 92.5%;
    // height: 2rem;
    background-color: white;
    border-color: blue;
    border-style: solid;
}
   

   .l-ContactUs-down-3{
    display: flex;
//    background-color:yellowgreen;
  
    //  margin: 1rem;
    //  height: 5rem;
     border-radius: 1rem;
     padding-inline: 1rem;
    }

//     .l-ContactUs-down-3-text{
//     width: 80%;
//     height: 5rem;
//     background-color: white;
//     border-color: blue;
//     border-style: solid;
// }

   .l-ContactUs-down-4{
//    background-color:yellowgreen;
//    height: 5rem;
    margin: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    word-wrap: break-word;
    }


    .l-ContactUs-down-4-text{
    width: 96.5%;
    // height: 15rem;
    background-color: white;
    border-color: blue;
    border-style: solid;
   
}

   .l-ContactUs-form-submit{
    text-align: center;
    margin-inline: 44%;
    width: 7rem;
    margin-block: 18rem;
    
   }

   .l-ContactUs-Checkbox{
    margin-inline: 2rem;
    margin-block: -27rem;

   }
   
   