@import './variables.scss';
@import './MainSource.scss';
@import './LandingNavbar.scss';
@import './Sidebar.scss';
@import './SignUp.scss';
@import './LandingContactUs.scss';
@import './Profile.scss';
@import './AddJobPost.scss';
@import './CandidateResumeCard.scss';
@import './Tables.scss';
@import './Navbar.scss';
@import './JobPost.scss';
@import './Payments.scss';
@import './HandleCompany.scss';
@import './HandleCandidate.scss';
@import './ApprovalsCard.scss';
@import './Complaints.scss';
@import './AdminProfile.scss';
@import './AdminDashboard.scss';
@import './CompanyDashboard.scss';
