.company-postedEvents-n {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px rgba(30, 136, 2229, .2);
  background-color: #ffffff;

  .ant-divider-horizontal {
    margin: 12px 0;
  }
  .ant-card-body {
    text-align: center;
  }

  .event-card {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    align-items: center;
    box-shadow: 0 0 10px rgba(30,136, 2229,.4);
    padding: 10px;
  }

  .event-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .event-meta {
    font-size: 18px;
    font-weight: bold;
    color: #003366;
  }

  .event-time {
    margin: 10px 0;
    color: #888888;
  }

  .event-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .view-details-button,
  .view-candidates-button {
    width: 45%;
  }

  .view-details-button a,
  .view-candidates-button a {
    color: #ffffff;
  }

  .view-details-button a:hover,
  .view-candidates-button a:hover {
    color: #ffffff;
  }

  .view-details-button {
    background-color: #003366;
    border: none;
  }

  .view-candidates-button {
    background-color: #f57c00;
    border: none;
  }

  .event-image {
    border-radius: 8px 8px 0 0;
    height: 200px;
    object-fit: cover;
  }


}