.profile-main-w{
    .ant-select-selection-overflow{
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0 !important;   
    }
    .ant-select-selector{
        border-radius: 0;
    }
}