.edit-personal-details-w{

    .input-w{
        background-color: rgba(243,244,246,255);
        border: none;
        outline: none !important;
        border-radius: 0;
        &:hover{
            border: none !important;
            outline: none !important;
        }
        &:focus{
            border: none;
        }
    }
}

.add-content-w{
    .input-w{
        background-color: rgba(243,244,246,255);
        border: none;
        outline: none !important;
        border-radius: 0;
        &:hover{
            border: none !important;
            outline: none !important;
        }
        &:focus{
            border: none;
        }
    } 
}