
.container-n {
    width: 100%;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;

    .ant-divider-horizontal{
        margin: 12px 0;
    }
    // .ant-input-search-button{
    //     background-color: rgba(30,136,229,.7);
    // }

    .tables-n {
        padding: 10px;

        .ant-table-tbody tr:nth-child(even) td {
            transition: background 0.2s, border-color 0.2s;
            background-color: rgba(242, 250, 250, 1);
        }

        .ant-table-tbody tr td {
            border-bottom: 1px solid rgba(30,136, 2229,.4);
        }
        .ant-table-thead {
            background-color: rgba(242, 250, 250, 1);
        }
        .ant-table-tbody, .ant-table-thead {
            box-shadow: 0 0 10px rgba(30,136, 2229,.4);
        }
        
    }

    .header {
        display: flex;
        gap: 500px;
        padding: 10px;
    }
}