.container-n {
    .ant-divider-horizontal{
        margin: 12px 0;
    }
    
    .tables-n {
        padding: 0;
        width: 100%;
        .ant-table-tbody tr:nth-child(even) td {
            transition: background 0.2s, border-color 0.2s;
            background-color: rgba(242, 250, 250, 1);
        }

        .ant-table-tbody tr td {
            border-bottom: 1px solid rgba(30,136, 2229,.4);
        }
        .ant-table-thead {
            background-color: rgba(242, 250, 250, 1);
        }
        .ant-table-tbody, .ant-table-thead {
            box-shadow: 0 0 20px rgba(0,0,0,.1);
        }
        
    }

    .header {
        display: flex;
        gap: 500px;
        padding: 10px;
    }
}
