$primary : rgba(25,103,210,255);
$secondary :  rgba($primary,0.5);
$light:White;
$dark:black;
$blur : rgba(140,140,140,255);
$input-bg: rgba(240,245,247,255);
$placeholder-font-color:rgba(113,118,141,255);
$sm: 576px;
$md: 820px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;