.view-one-ques-w{
    .ant-checkbox-inner{
        display: none;
       } 
    .checkCircle{
        color: rgba(25,103,210,255) ;
        margin: 0;
        line-height: 1;
    }
    .circle{
        color: rgba(0,0,0,.4);
        margin: 0;
        line-height: 1;
    }
    .checkedansw{
        border: 2px solid rgba(25,103,210,255);
        padding: 1% 2%;
    }
    .uncheckedansw{
        border: 2px solid rgba(0,0,0,.4);
        padding: 1% 2%;
    }

}